/* Main */
/* line 2, ../sass/screen.sass */
a, a:hover, a:visited {
  text-decoration: none;
  color: #4261df;
}

/* line 6, ../sass/screen.sass */
body {
  font: 15px/150% "droid-sans-1", "droid-sans-2", "Helvetica", sans-serif;
  width: 750px;
  margin: 70px auto 0 auto;
}

/* line 11, ../sass/screen.sass */
h1 {
  font-size: 40px;
  color: #4261df;
}

/* line 15, ../sass/screen.sass */
h2 {
  font-size: 20px;
  margin: 0;
  padding: 15px 0 0 0;
}

/* line 20, ../sass/screen.sass */
h3 {
  font-size: 15px;
}

/* line 23, ../sass/screen.sass */
h2 + p {
  margin-top: 0.5em;
}

/* Code Blocks */
/* line 27, ../sass/screen.sass */
pre, code {
  font: 14px "droid-sans-mono-1", "droid-sans-mono-2", monospace;
}

/* line 29, ../sass/screen.sass */
pre {
  width: 80%;
  margin: 0 auto;
  background-color: #f0f0f0;
  border: 1px solid #d9d9d9;
  border-bottom-left-radius: 5px 5px;
  border-bottom-right-radius: 5px 5px;
  border-top-left-radius: 5px 5px;
  border-top-right-radius: 5px 5px;
  padding: 13px;
  margin-bottom: 15px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
/* line 46, ../sass/screen.sass */
pre code {
  border: none;
}

/* Inline Code */
/* line 50, ../sass/screen.sass */
p code, ol code {
  background-color: #f8f8ff;
  color: #444444;
  padding: 0 0.2em;
  border: 1px solid #dedede;
}

/* Posts */
/* line 57, ../sass/screen.sass */
.post {
  padding-bottom: 25px;
}

/* Comments */
/* line 61, ../sass/screen.sass */
#disqus_thread {
  padding-bottom: 25px;
}

/* Footer */
/* line 64, ../sass/screen.sass */
#footer {
  text-align: center;
  font-size: 12px;
  padding-bottom: 20px;
  padding-top: 10px;
}
