/* Main */
a, a:hover, a:visited
  text-decoration: none
  color: #4261df

body
  font: 15px/150% "droid-sans-1", "droid-sans-2", "Helvetica", sans-serif
  width: 750px
  margin: 70px auto 0 auto

h1
  font-size: 40px
  color: #4261df

h2
  font-size: 20px
  margin: 0
  padding: 15px 0 0 0

h3
  font-size: 15px

h2 + p
  margin-top: 0.5em

/* Code Blocks */
pre, code
  font: 14px "droid-sans-mono-1", "droid-sans-mono-2", monospace
pre
  width: 80%
  margin: 0 auto
  background-color: #F0F0F0
  border: 1px solid #d9d9d9 
  border-bottom-left-radius: 5px 5px
  border-bottom-right-radius: 5px 5px
  border-top-left-radius: 5px 5px
  border-top-right-radius: 5px 5px
  padding: 13px
  margin-bottom: 15px
  white-space: pre-wrap       /* CSS3 */
  white-space: -moz-pre-wrap  /* Mozilla */
  white-space: -pre-wrap      /* Opera 4-6 */
  white-space: -o-pre-wrap    /* Opera 7 */
  word-wrap: break-word       /* Internet Explorer 5.5+ */

  code
    border: none

/* Inline Code */
p code, ol code
  background-color: #f8f8ff
  color: #444
  padding: 0 0.2em
  border: 1px solid #dedede

/* Posts */
.post
  padding-bottom: 25px

/* Comments */
#disqus_thread
  padding-bottom: 25px
/* Footer */
#footer
  text-align: center
  font-size: 12px
  padding-bottom: 20px
  padding-top: 10px
