/* Main */
a, a:hover, a:visited
  text-decoration: none
  color: #4261df

body
  font: 16px/160% "droid-sans-1", "droid-sans-2", "Helvetica", sans-serif
  width: 800px
  margin: 70px auto 0 auto

  h1
    font: 40px
    color: #4261df


/* Code Blocks */
pre, code
  font: 15px "droid-sans-mono-1", "droid-sans-mono-2", monospace
pre
  width: 80%
  margin: 0 auto
  background-color: #F0F0F0
  border: 1px solid #d9d9d9 
  border-bottom-left-radius: 5px 5px
  border-bottom-right-radius: 5px 5px
  border-top-left-radius: 5px 5px
  border-top-right-radius: 5px 5px
  padding: 15px
  overflow-x: auto

  code
    border: none

p code
  background-color: #f8f8ff
  color: #444
  padding: 0 0.2em
  border: 1px solid #dedede
    
.post
  padding-bottom: 35px

#footer
  text-align: center
  font-size: 12px
  padding-bottom: 20px
