@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans+Mono);
@import "bootstrap";
@import "overrides";

body {
  font-family: "Source Sans Pro"

  h1 {
    font-size: 25px;
  }

  a {
    color: $link-color;
  }

  a:visited {
    color: $link-color;
  }

  a:hover {
    text-decoration: none;
    color: $link-color;
  }

  @media (min-width: $screen-tablet) {
    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 26px;
    }
  }

  #bar {
    border-top: 5px solid $link-color;
  }

  .container {
    min-height: 400px;
    max-width: 920px;
    margin: 0 auto;
    padding-bottom: 30px;

    @media (min-width: $screen-tablet) {
      padding-bottom: 0;
    }

    header {
      height: 60px;
      margin-top: 20px;
      font-size: 20px;

      @media (min-width: $screen-phone) {
        font-size: 30px;

        .social {
          i {
          margin-left: 8px;
          }
        }
      }

      a:hover {
        text-decoration: none;
      }

      .nav {
        font-family: "Droid Sans Mono", Courier;

        a {
          display: inline;

          span#first {
            color: rgb(198, 162, 195)
          }

          span#second {
            color: rgb(224, 97, 78)
          }
        }
      }

      .social {
        padding: 0;
        text-align: right;

        a {
          color: $text-color;
        }

        a:hover, a:visited:hover {
          color: $link-color;
        }

        a:visited {
          color: $text-color;
        }

        i {
          margin-left: 4px;
        }
      }
    }

    .content {
      margin: 20px 0 0 0;
      font-size: 20px;
      font-weight: 400;
      line-height: 160%;

      .archive {
        margin: 0;
        padding-bottom: 20px;

        .title {
          padding: 0;
        }

        .date {
          padding: 0;
          text-align: right;
          font-size: 15px;

          @media (min-width: $container-tablet) {
            text-align: right;
            font-size: 20px;
          }
        }
      }

      .post {
        @media (min-width: $container-lg-desktop) {
          time + p {
            margin-top: 20px;
          }
        }

        time {
          font-size: 18px;

          @media (min-width: $container-lg-desktop) {
            height: 34px;
            margin: -43px 0 0 -135px;
            padding: 2px 17px 0 0;
            float: left;
            text-align: right;
            border-right: 5px solid $gray-light;
          }
        }

        code {
          color: gray;
        }

        code, pre {
          font-family: "Droid Sans Mono", sans-serif;
          font-size: 15px;
        }

        pre {
          margin: 20px auto;
          width: 80%;
        }
      }
    }
  }

  footer {
    height: 100px;
    width: 200px;
    color: $gray-light;
    text-align: center;
    margin: 0 auto;

    @media (min-width: $container-tablet) {
      padding-top: 35px;
      min-width: 350px;
    }

    @media (min-width: $container-desktop) {
      min-width: 600px;
    }
  }
}
