---
layout: base
---

<div class="post">
    <a href="/">↑ Home</a>
    <h1>{{ page.title }}</h1>
    <div class="date">{{ page.date | date: "%B %d, %Y" }}</div>
    {{ content }}
</div>

<div id="pagination">
    {% if page.previous %}
    <span class="left">
        <a href="{{ page.previous.url }}">← Previous</a>
    </span>
    {% endif %}

    {% if page.next %}
    <span class="right">
        <a href="{{ page.next.url }}">Next →</a>
    </span>
    {% endif %}
</div>

<div id="disqus_thread"></div>
<script type="text/javascript" src="http://disqus.com/forums/chowie/embed.js"></script>
<noscript><a href="http://chowie.disqus.com/?url=ref">View the discussion thread.</a></noscript>
